.goods {
    padding: 40px 0;

    @media (min-width: 1024px) {
        padding: 60px 0;
    }

    &__title {
        margin-bottom: 24px;
        font-family: 'Inter';
        font-size: 24px;
        font-weight: 900;

        @media (min-width: 768px) {
            margin-bottom: 32px;
            font-size: 32px;
        }

        @media (min-width: 1024px) {
            margin-bottom: 40px;
        }
    }

    &__list {
        display: grid;
        gap: 32px 8px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

        @media (min-width: 768px) {
            gap: 32px 10px;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        }

        @media (min-width: 1024px) {
            gap: 40px 16px;
            grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
        }
    }

}