.product {

    padding: 24px 0 60px;

    &__container {}

    &__title {
        margin-bottom: 24px;
        font-size: 24px;
        font-family: 'Inter';
        font-weight: 900;

        @media (min-width: 768px) {
            font-size: 32px;
        }

        @media (min-width: 1024px) {
            margin-bottom: 40px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media (min-width: 768px) {
            gap: 40px;
        }

        @media (min-width: 1024px) {
            flex-direction: row;
            gap: 16px;
        }
    }

    &__slider-wrapper {

        @media (min-width: 1024px) {
            width: 620px;

        }

        @media (min-width: 1440px) {
            width: 832px;

        }
    }

    &__slider-image {
        // большая фотка слайдера
        width: 100%;
        min-height: 236px;
        margin-bottom: 32px;

        object-fit: cover;


        @media (min-width: 768px) {
            margin-bottom: 14px;
        }

        @media (min-width: 1024px) {}

        @media (min-width: 1440px) {
            margin-bottom: 16px;
        }
    }

    &__slider-arrow {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%); //  центруем по вертикали стрелку
        width: 32px;

        &--next {
            right: 16px;

            @media (min-width: 580px) {
                right: 24px;
            }
        }

        &--prev {
            left: 16px;

            @media (min-width: 580px) {
                left: 24px;
            }
        }
    }

    &__info {
        color: #1c1c1c;

        @media (min-width: 1024px) {
            flex-grow: 1;

        }
    }

    &__info-price {
        margin-bottom: 12px;
        font-size: 20px;
    }

    &__info-id {
        padding: 4px 8px;
        margin-bottom: 24px;
        border-radius: 32px;
        display: inline-block;
        background-color: #EEEFF2;
        font-size: 12px;

        @media (min-width: 768px) {
            margin-bottom: 28px;
        }
    }

    &__info-title {
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 16px;
    }

    &__info-table {}

    &__table {
        width: 100%;
        margin-bottom: 24px;
    }

    &__table-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #EEEFF2;
    }

    &__table-item {
        padding: 8px 0;
        color: #969EAE;

        &:last-child {
            color: #1C1C1C;
        }
    }
}


.slider-thumbnails {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        gap: 14px;
    }

    @media (min-width: 1024px) {
        gap: 12px;
    }

    @media (min-width: 1440px) {
        gap: 16px;
    }

    &__item {
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
    }

    &__image {
        //  Маленька фотка слайдера
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.info-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    &__to-cart {
        color: #FFFFFF;
        background-color: #0044F0;
        border: 1px solid #0044F0;
        border-radius: 32px;
        padding: 12px 24px;
        max-width: 226px;
        width: 100%;
    }

    &__like {
        align-self: center;
        flex-shrink: 0; // чтоб не вывалиось картинка лайка
    }
}

.slider-image__slide {
    overflow: hidden;
    border-radius: 16px;
}